span,
p,
h1,
h2,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

/* ---------------------------- General Classses ---------------------------- */
.flex {
  display: flex !important;
}
.flex-row {
  flex-direction: row;
}
.flex-col {
  flex-direction: column;
}
.justify-between {
  justify-content: space-between;
}
.flex-wrap {
  flex-wrap: wrap;
}
.mt-header {
  margin-top: 26px !important;
}
.mt-40 {
  margin-top: 40% !important;
}
.align-items-center {
  align-items: center !important;
}
.text-reset {
  text-transform: none !important;
  font-size: 11px;
}
.rounded {
  border-radius: 15px !important;
}
.text-center {
  text-align: center;
}
.bold {
  font-weight: bold;
}
.br-1 {
  border-right: 1px solid #ddd;
}

.bl-1 {
  border-left: 1px solid #ddd;
}

/* ----------------------------- Custom Classes ----------------------------- */
.swiper {
  &-slide {
    img {
      padding: 0.25rem;
      background-color: #d49000;
      border-radius: 10px;
      max-width: 100%;
      height: auto;
    }
  }
  &-button {
    &-prev {
      color: var(--ion-color-primary) !important;
      box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
        0 4px 6px -4px rgb(0 0 0 / 0.1) !important;
    }
    &-next {
      color: var(--ion-color-primary) !important;
      box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
        0 4px 6px -4px rgb(0 0 0 / 0.1) !important;
    }
  }
}

body {
  margin-top: 12px;
}

ion-tab-bar {
  margin-bottom: 30px;
}

// ion-modal {
//   margin-top: 36px;
// }
