/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */
:root {
  --ion-color-primary: #cf8901;
  --ion-color-primary-rgb: 105, 187, 123;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #cf8901;
  --ion-color-primary-tint: #cf8901;

  --ion-color-secondary: #dddddd;
  --ion-color-secondary-rgb: 105, 187, 123;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #dddddd;
  --ion-color-secondary-tint: #dddddd;
}

.flex {
  display: flex !important;
}
.flex-row {
  flex-direction: row;
}
.flex-col {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}
.mt-40 {
  margin-top: 40% !important;
}
.align-items-center {
  align-items: center !important;
}
.text-reset {
  text-transform: none !important;
  font-size: 11px;
}
.rounded {
  border-radius: 15px !important;
}
.text-center {
  text-align: center;
}
.bold {
  font-weight: bold;
  font-size: 15px;
}
/* .goza-area {
  border-radius: 100px !important;
  background-color: var(--ion-color-primary);
  padding: 13px;
  color: #fff;
  width: 90%;
  max-width: 96%;
} */

.br-1 {
  border-right: 1px solid #ddd;
}

.bl-1 {
  border-left: 1px solid #ddd;
}
