/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */
:root {
  --ion-color-primary: #AB9365;
  --ion-color-primary-rgb: 105, 187, 123;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #AB9365;
  --ion-color-primary-tint: #AB9365;

  --ion-color-secondary: #dddddd;
  --ion-color-secondary-rgb: 105, 187, 123;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #dddddd;
  --ion-color-secondary-tint: #dddddd;
  --ion-safe-area-bottom: 12px;
}

.ios {
  --ion-safe-area-top: -1 !important;
  --ion-safe-area-bottom: 12px;
}
